$color-primary: #003399;
$color-accent: #99cc00;
$color-highlight: #ff6600;
$color-neutral: #cccccc;
$color-secondary: #660099;

$body-color: #f5f5f5f5;
$body-font-color: #333333;

$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
